.nav-background-dark {
    background-image: url('../assets/image.png');
  }
  
.nav-background-light {
background-color: #f0f0f0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
}
  
.nav ul{
    margin: 0;
    display: flex;
}

.nav :nth-of-type(2) {
    max-width: 55%;
    display: flex;
    justify-content: space-evenly;
    text-align: right;
}

.nav a {
    min-width: 60px;
    border-bottom: 1px solid #f0f0f0;
    margin: 3px;
    padding-bottom: 4px;
    text-align: center;
}

ul > .active {
    color: red;
}

.text-color-dark {
    color: #282626;
    border-bottom: 1px solid #282626;
}

@media only screen and (min-width: 768px) {
    .nav a {
        font-size: 20px;
    }

    .nav a:hover {
        color: rgba(240, 240, 240, .6);
        border-bottom: 1px solid rgb(240,240,240,.6);
    }
}