/* ///////////////////////////////////////////// FONTS */
.heading-1 {
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.08rem;
  line-height: 1;
}

.heading-2 {
  font-weight: 600;
  font-size: 3.8rem;
  margin-top: 0.5rem;
}

.heading-2-1 {
  font-weight: 600;
  font-size: 2.25rem;
  margin-top: 0.5rem;
}

.heading-3 {
  line-height: 2.125rem;
  font-size: 1.5rem;
}

.heading-4 {
  letter-spacing: 0.05rem;
  font-size: 0.9375rem;
  font-weight: 600;
}

.heading-5 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
}

.text {
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.3125rem;
}

.heading-6 {
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 1.0625rem;
}

.section-heading {
  margin-top: 3rem;
}

.vertical {
  transform: rotate(270deg);
  transform-origin: 50% 200% 0;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}

#home {
  padding-left: 30px;
}

.overline-intro {
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
  line-height: 0.6875rem;
  writing-mode: vertical-lr;
  padding: .5rem .5rem .5rem 0;
}

.overline-number {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 2.3125rem;
  letter-spacing: 0.05rem;
}

.overline-1 {
  font-family: 'Crimson Text', serif;
  font-size: 1.25rem
}

.overline-2 {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-size: 0.9375rem; 
}

.link {
  font-weight: 800;
  font-size: 0.9375rem;
  letter-spacing: 0.14rem;
  display: flex;
  padding: 1.3rem 0;
}

a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.action-area {
  display: flex;
  flex-direction: column;
}

.headingLink {
  text-decoration: underline;
}
  
.link:hover,
.headingLink:hover {
  text-decoration: underline;
}

.contact-text {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
}

.underline {
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.dark-text {
  color: var(--black);
}

.strikethrough {
  text-decoration: line-through;
}
/* ///////////////////////////////////////////// FONTS_END */

/* ///////////////////////////////////////////// FLEX */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap; 
}

.direction-col {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.p1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pl-40 {
  padding-left: 40%;
}

.pt-30 {
  padding-top: 30%;
}

.d-none {
  display: none;
}
.background-dark {
  background-color: var(--black);
  background-image: url('./assets/image.png');
  min-height: 100vh;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.background-semi-dark {
  background-color: var(--black);
  min-height: 100vh;
  padding: 15px;
}

.background-light {
  background-color: var(--white);
  padding: 15px;
  box-sizing: border-box;
  min-height: 100vh;
}

.margin-md {
  margin: 60px 0 60px 0;
}

.m0 {
  margin: 0;
}

.h100 {
  height: 100vh;
}

.h-20 {
  height: 20vh;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1 {
  margin: 4rem 0rem;
}

.divider-light {
  display: block;
  border: 1px solid var(--white);
}

.divider-darker {
  display: block;
  border: 1px solid rgba(249, 249, 249, .5);
}

.divider-small-dark {
  display: block;
  border: 1px solid var(--black);
  width: 50%;
  margin-top: 5rem;
  opacity: .4;
}

.divider-dark {
  display: block;
  border: 1px solid var(--black);
  width: 100%;
}

.divider-small {
  display: inline-block;
  margin: auto 1rem auto 0;
  width: 2rem;
  border: 1px solid var(--black);
}

.navigation-top {
  height: 3rem;
  background-color: var(--white);
  padding: 15px 15px 5px 0;
}

.navigation-bottom {
  background-image: url('./assets/image.png');
  display: flex;
  justify-content: space-between;
  padding: 0 .5rem;
}

.btn-arrow {
  vertical-align: bottom;
  padding-left: .5rem;
}

.project-img {
  max-width: 325px;
  height: 170px;
}

.dark-button {
  background-color: var(--black);
  color: var(--white);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  height: 42px;
  width: 142px;
  border: 0;
  padding: 0;
}

.inline {
  display: inline-block;
}

.exit {
  align-self: flex-end;
  margin-bottom: 2rem;
}

/*PROJECT STUFF*/
.main-project-img{
  width: 100%;
}

.no-padding {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .main-project-title {
    z-index: 2;
    position: absolute;
    top: 7rem;
    background-color: var(--white);
    width: 40%;
    right: 10px;
    padding: 7% 12%;
  }

  .main-article {
    width: 70%;
    padding-left: 15%;
  }

  .main-project-img {
    width: 500px;
    height: 500px;
  }

  .p-lg-1 {
    padding: 1rem;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

  .justify-around-lg {
    justify-content: space-around;
  }

  .heading-1 {
    font-size: 10rem;
    line-height: normal;
  }

  .heading-6 {
    font-size: 0.8125rem;
  }

  .heading-5 {
    font-size: 1.5rem;
  }

  .overline-1 {
    font-size: 1.75rem;
  }

  .overline-intro {
    font-size: 1.5rem;
  }

  /* .overline-2 {
    font-size: 1.5rem;
  } */
  .ml-20 {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }

  .w-30 {
    width: 33%;
    padding: 15px;
    box-sizing: border-box;
  }

  .w-lg-80 {
    width: 80%;
  }

  .h-lg-100 {
    height: 100%;
  }

  .vertical {
    transform-origin: 40% 120% 0;
  }

  .margin-md {
    margin: 20px 0 20px 0;
  }

  .pr-lg-20 {
    padding-right: 20px;
  }
}